.demo h3 {
    margin-bottom: 20px;
}

.variable-value > div {
    display: block;
    word-break: break-all;
}

.object-key-val {
    padding: 20px;
}

.ant-checkbox-group {
    margin-bottom: 15px !important;
}

.ant-checkbox-group > label{
    display: flex;
}

.hidden-block {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
}

.try-demo-section {
    background: #fff;
    padding: 60px 35px;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;

    box-shadow: -1px 6px 82px -15px rgba(0,0,0,0.55);
    -webkit-box-shadow: -1px 6px 82px -15px rgba(0,0,0,0.55);
    -moz-box-shadow: -1px 6px 82px -15px rgba(0,0,0,0.55);
}

.try-demo-section h3 {
    margin-bottom: 40px;
}

.ant-spin-spinning.loading-spin {
    margin: 140px auto;
    display: block;
}

.loading-spin .ant-spin-dot-item {
    background-color:#ffffff;
}