.demo h3 {
    margin-bottom: 20px;
}

.variable-value > div {
    display: block;
    word-break: break-all;
}

.object-key-val {
    padding: 20px;
}

.ant-checkbox-group {
    margin-bottom: 15px !important;
}

.ant-checkbox-group > label{
    display: flex;
}