
.ant-table-cell button {
    display: block;
    margin: 10px auto;
    min-width: 120px;
}

.transfer-component {
    background: #fff;
    padding: 50px 35px 100px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;

    box-shadow: -1px 6px 82px -15px rgba(0,0,0,0.55);
    -webkit-box-shadow: -1px 6px 82px -15px rgba(0,0,0,0.55);
    -moz-box-shadow: -1px 6px 82px -15px rgba(0,0,0,0.55);
}

@media (max-width: 950px) {
    .transfer-component {
        padding: 40px 20px 50px;
    }

    .transfer-component h3 {
        margin-bottom: 10px !important; 
    }
}

.transfer-component .ant-list-item-meta-content {
    text-align: left;
}